{% extends 'base.html' %}
{% load static %}
{% block content %}
	<h1>Events...</h1>
	<br>
	{% for event in events %}
    <div class="card">
        <div class="card-header">
            <strong><a href="{% url 'show-event' event.id %}">{{ event.name }}</a></strong>
        </div>
        <div class="card-body">
            <h5 class="card-title">Venue: {{ event.venue }}</h5>
            <p class="card-text">
            <strong>Date:</strong> {{ event.event_date }} <br>
            <strong>Venue Website:</strong> {{ event.venue.web }} <br>
           	<strong>Event Manager:</strong> {{ event.manager }} <br>
            <strong>About:</strong> {{ event.description }} <br>
            <strong>Attendees:</strong><br>
            {% for user in event.attendees.all %}
                {{ user }}<br>
            {% endfor %}
            {% if event.max_attendees > 0 %}
			<strong>Event Capacity:</strong> {{ event.max_attendees }} people.
			{% else %}
			<strong>Event Capacity:</strong> No maximum capacity.
			{% endif %}
            </p>
			{% if user.is_authenticated %}
			{% if user in event.attendees.all %}
			<form method="post" action="{% url 'cancel-attendance' event.id %}">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary">Cancel Attendance</button>
			</form>
			{% else %}
			<form method="post" action="{% url 'attend-event' event.id %}">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary">Sign Up</button>
			</form>
			{% endif %}
		{% endif %}

        </div>
        <div class="card-footer text-body-secondary">
			{% if user.is_authenticated %}
			{% if user == event.manager or user.is_superuser %}
				<a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
				<a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
			{% endif %}
		{% endif %}
        </div>
    </div>
	<br><br>
	{% endfor %}
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
	{% if events.has_previous %}
			<li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
			<li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a></li>
	{% endif %}
			<li class="page-item disabled"><a href="#" class="page-link">Page {{ events.number }} of {{ events.paginator.num_pages }}</a></li>
	{% if events.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">Next</a></li>
			<li class="page-item"><a class="page-link" href="?page={{ events.paginator.num_pages }}">Last &raquo</a></li>
			{% endif %}
		</ul>
	</nav>

{% endblock %}