{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Venues...</h1>
<br>
<table class="table table-striped table-hover">
	{% for venue in venues %}
		<tr>
			<td>
				<a href="{% url 'show-venue' venue.id %}">{{ venue }}</a>
			</td>
			{% if user.is_authenticated %}
				{% if user.id == venue.owner or user.is_superuser %}
			<td align="right">
				1
			</td><br>
				{% endif %}
			{% endif %}
		</tr>
	{% endfor %}
</table>

<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
{% if venues.has_previous %}
		<li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
		<li class="page-item"><a class="page-link" href="?page={{ venues.previous_page_number }}">Previous</a></li>

{% endif %}

		<li class="page-item disabled"><a href="#" class="page-link">Page {{ venues.number }} of {{ venues.paginator.num_pages }}</a></li>

{% if venues.has_next %}
		</li class="page-item"><a class="page-link" href="?page={{ venues.next_page_number }}">Next</a></li>
		<li class="page-item"><a class="page-link" href="?page={{ venues.paginator.num_pages }}">Last &raquo</a></li>


{% endif %}
	</ul>
</nav>

{% endblock  %}