@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap') 


/*--------------------------------------------General Stles*/ 

body {
    background-color: #e8e5e6;
    max-width: 100vw;
}

a:link,
a:visited,
a:hover,
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    color: #332533;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #332533;
    text-align: center;  
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.card {
    display: block;
    text-align: center;
    border-radius: 25px;
    background-color: #b3bfba;
    margin-bottom: 20px;
}

/*--------------------------------------------Fonts*/ 
.navbar-brand {
    font-family: "Playfair", sans-serif;
    font-weight: 600;
    color: #332533;
}

.nav-link {
    font-family:"Lato", sans-serif;
    color: #332533;
}

.dropdown-item {
    font-family:"Lato", sans-serif;
    color: #332533;
}


/*--------------------------------------------Navbar Styles*/
.navbar {
    background-color: #b3bfba;
}

.btn {
    background-color: #332533;
    color: #b3bfba;
}

.venues,
.events {
    position: relative;
    padding-left: 20px;
}


/*--------------------------------------------Homepage Styles*/

center {
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

center > h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Playfair", sans-serif;
    font-weight: 400;
    color: #332533;
}

.card {
    position: relative;
}

.card-title,
.card-header {
    font-family: "Playfair", sans-serif;
    font-size: 20px;
    color: #332533;
}

.card-text {
    font-family: "Lato", sans-serif;
    color: #332533;
    
}

.month {
    background-color: #b3bfba;
    color: #332533;
}


/*--------------------------------------------Events page Styles*/
.btn-outline-danger {
    background-color: #dc3545;
    color: #332533;
}




/*--------------------------------------------Media Queries*/

@media